/* Ion.Tabs: Bordered Skin
// css version 1.0.0
// by Denis Ineshin | ionden.com
// ===================================================================================================================*/

/* =====================================================================================================================
// Ion.Tabs: Skin details */

.ionTabs {
    margin: 0 0 30px;
}
    .ionTabs__head {
        border-bottom: 1px solid #cecece;
    }

    .ionTabs__tab {
        font-size: 11pt; 
        line-height: 22px;
        background: #ededed;
        border: 1px solid #cecece;
        border-bottom: none;
        padding: 7px 0px 7px;
        margin-right: 2px;
        color: #484848;
        margin-top: 10px;
        text-align: center;
        width:95px;
        min-width: 50px;
    }
        .ionTabs__tab:hover {
            background: #e5e5e5;
        }
        .ionTabs__tab.ionTabs__tab_state_active {
            top: 1px;
            /*margin-top: 0;*/
            padding: 7px 0px 7px;
            background: #fff;
            color: #d71410;
            border-top-color: #d71410;
            border-bottom: 1px solid #fff;
            width:95px;
        }

    .ionTabs__body {
        background: #fff;
        border: 1px solid #cecece;
        border-top: none;
    }

    .ionTabs__item {
        /*padding: 15px 26px;*/
    }

    .ionTabs__preloader {
        height: 50px;
        background: url(../img/preloader-flat.gif) no-repeat 25px 50%;
    }