@media screen{
    #map{
        margin-left: auto;
        margin-right: auto;
    }
    #comments{
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .adding_button{
        width:200px;
        margin: 0 auto;
        margin-top: 1%;
        margin-bottom: 2%;
    }
    
    .textarea_class{
        width: 800px;
        margin: 0 auto;
        margin-top: 1%;
        margin-bottom: 2%;
    }
    
    #printButton{
        margin-bottom: 2%;
        width: 200px;
    }

    #exitMode{
        margin-bottom: 2%;
        width: 200px;
    }
}

#comments{
    width: 206mm;
    resize: none;
    overflow: auto; /* for IE */
}

#map {
    position: relative;
    overflow: hidden !important;
    width: 210mm;
    height: 700px;
}

#roll-up{
    display: none;
}
    
#groups{
    display: none;
}
    
.roll-user-panel{
    display: none;
}

#user-panel{
    height: 0px;
    display: none;
}

@media print{
    .mapsurfer-map-pane,
    .mapsurfer-tile,
    .mapsurfer-marker-icon,
    .mapsurfer-marker-shadow,
    .mapsurfer-tile-pane,
    .mapsurfer-overlay-pane,
    .mapsurfer-shadow-pane,
    .mapsurfer-marker-pane,
    .mapsurfer-popup-pane,
    .mapsurfer-overlay-pane svg,
    .mapsurfer-zoom-box,
    .mapsurfer-image-layer {
        position: absolute;
    }
    .mapsurfer-container img {
        max-width: none !important;
    }
    .mapsurfer-tile-pane {
        z-index: 2;
    }
    .mapsurfer-overlay-pane {
        z-index: 3;
    }
    .mapsurfer-shadow-pane {
        z-index: 4;
    }
    .mapsurfer-marker-pane {
        z-index: 5;
    }
    .mapsurfer-popup-pane {
        z-index: 6;
    }
    .container{
        display: none;
    }
    
    .zoom-control{
        display: none;

        div{
            display: none;
        }
    }
    
    .schemasContainer{
        display: none;
    }

    .spacesContainer{
        display: none;
    }
    
    .dialogBox{
        display: none;
    }
    
    #comments{
        margin-top: 2%;
        border: none;
    }
}