
#layer-filter-form, 
#ur-form {
    padding: 0;
    margin: 0;
}

#layer-filter-form .filter-box,
#layer-metadata-form .metadata-row,
#ur-form .ur-row,
#control-group .controls { border-bottom: 2px solid #ededed; display: inline-block; padding: 10px 0px 5px 10px; } /*TODO: control-group*/
#layer-filter-form .filter-box,
#layer-metadata-form .metadata-row,
#ur-form .ur-row { width: 100%; }
#layer-filter-form .filter-box .filter-nameru,
#ur-form .ur-row .nameru,
#layer-metadata-form .metadata-row .metadata-nameru {
    float:left; display: inline-block; padding: 0px 0px 5px 0px; font: bold 10pt Tahoma, sans-serif; color: #4e5a61; line-height: 1.5;
}
#layer-filter-form .filter-box .filter-nameru { width: 45%; }
#layer-metadata-form .metadata-row .metadata-nameru,
#ur-form .ur-row .nameru { width: 35%; }

#layer-filter-form .filter-box select {
    height: 30px; padding: 0 4px;
    border: 1px solid #8296a3;
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: button;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(/public/images/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    /*background: linear-gradient(to bottom, #FAFAFA, #E5E5E5);*/
    background-repeat: no-repeat;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#layer-filter-form .filter-box .filter-compare {
    float: left; width: 50px !important; font: 18pt Arial; margin: 5px 0 0 7px; background-position: 91% center;
}

#layer-filter-form .filter-box .filter-entrance { float: right; margin: 0 15px 0 0; font: 12pt Arial; background-position: 97% center; }
#layer-filter-form .filter-box .filter-entrance { width: 194px !important; }

#layer-filter-form .filter-box select option { font: 12pt Arial; background-color: #ffffff; }

#layer-filter-form .filter-box .input-text,
#layer-filter-form .filter-box #date-from,
#layer-filter-form .filter-box #date-to { font-size: 9pt; clear: right; border: 1px solid #8296a3; border-radius: 0; }
#layer-filter-form .filter-box .input-text { float: right; width: 180px !important; margin: 5px 15px 2px 2px; }
#layer-filter-form .filter-box #date-from,
#layer-filter-form .filter-box #date-to { width: 70px !important; margin: 2px 7px 2px 7px; }

#layer-filter-form .filter-box .input-number {
    font-size: 9pt; margin: 5px 15px 2px 2px; float: right; border: 1px solid #8296a3; border-radius: 0;
}
#layer-filter-form .filter-box .input-number { width: 125px !important; }

#layer-filter-form button.button-clear, button.button-show, button.button-boundary,
#ur-form button.button-boundary,
#ers-panel button.expand-filters,
#layer-metadata-form button.metadata-expand {
    border: 0px; color: #ffffff; text-transform: uppercase; text-decoration: none;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    height: 30px;  background: #30393e;
    letter-spacing: 1px; outline: none; text-shadow: 0 -1px 1px #777;
}

#layer-filter-form button.button-clear, 
#layer-filter-form button.button-show { width: 100px; }
#layer-filter-form button.button-clear { margin-left: 15px; }
#layer-filter-form button.button-show { position:absolute; right:15px; }
#ers-panel div.expand-filters { position: absolute; bottom: 0; }
#ers-panel button.expand-filters { width: 310px; }
#layer-metadata-form button.metadata-expand { margin: 5px 0px 10px 135px; width: 250px; }
#layer-filter-form button.button-clear:hover, 
#layer-filter-form button.button-show:hover,
#ers-panel button.expand-filters:hover,
#layer-metadata-form button.metadata-expand:hover { background: #5b656b; }

#layer-filter-form .filter-box button.button-boundary, 
#ur-form .ur-row button.button-boundary { width: 40px; height: 40px; background: url('/public/images/contour.png'); }
#layer-filter-form .filter-box button.button-boundary,
#ur-form .ur-row button.button-boundary { margin: 5px 0 0 6px; }
#layer-filter-form .filter-box button.button-boundary:hover,
#ur-form .ur-row button.button-boundary:hover { background: url('/public/images/contour-hover.png'); }

#layer-filter-form .filter-box span.coordinates,
#ur-form .ur-row span.coordinates { float: right; width: 40% !important; height: 60px; margin: 2px 3px 0 0; font: italic bold 9pt Tahoma, sans-serif; color: #000000; }
#layer-filter-form .filter-box .dash { width: 10px; margin: 15px 0px 15px 0px; height: 2px; background: #30393e; }
#layer-filter-form .filter-box div { float: left; }
#layer-metadata-form .metadata-row .metadata-val { font-size: 9pt; float:left; }

#ers-panel .layers .layer .layer-name { background: #5cb85c; text-align: center; width: 80px; color: #FFFFFF; border: 1px solid #FFFFFF; }
#ers-panel .layers .layer div,
#layers-panel .layers .layer div,
#dlayers-panel .dlayers .dlayer div, 
.checkboxes-list .ch-row div { display: inline-block; }
.checkboxes-list .ch-row { margin-bottom: 5px; }

#layers-panel .layers .layer label:before,
#ers-panel .layers .layer label:before,
#dlayers-panel .dlayers .dlayer label:before,
.checkboxes-list .ch-row label:before {
    content: ""; display: inline-block; width: 14px; height: 14px; background-color: #FFFFFF; margin-right: 5px; margin-left: 5px;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8); border: 2px solid #000000;
    border-radius: 2px; vertical-align: middle;
}

#layers-panel .layers .layer input[type="checkbox"]:checked + label:before,
#ers-panel .layers .layer input[type="checkbox"]:checked + label:before,
#dlayers-panel .dlayers .dlayer input[type="checkbox"]:checked + label:before,
.checkboxes-list .ch-row input[type="checkbox"]:checked + label:before {
    content: "\2713"; text-shadow: 1px 1px 1px rgba(0, 0, 0, .2); font-size: 20pt; color: #30393e; text-align: center; line-height: 12px;
    background-color: #f9ca21; border: 0px; font-weight: bold; width: 18px; height: 18px;
}