
.logo {
    width:300px; 
    height:300px; 
    position: absolute; 
    bottom:30px; 
    left:70px; 
    z-index: 100; 
    background: url('/public/images/logo_300.png'); 
    background-repeat: no-repeat;
}

.logo-mid {
    width: 40px;
    height: 35px;
    background: url('/public/images/logo_40.png');
    background-repeat: no-repeat;
    float: left;
    margin: 2px 0px 2px 10px;
}