#right-panel {
    width: 310px; height: 20px; /*overflow-y: auto; overflow-x: hidden;*/ z-index: 1000; position: absolute; background-color: white; 
    right: 10px; top: 130px; border: 2px solid #94A9BF; border-top: 2px solid #ffffff; border-radius: 3px; opacity: 0.9;
}
#ers-panel .ers-title-bar { display: inline-block; width:100%; }
#ers-panel .ers-title-bar div {
    height:20px;
    display: inline-block;
    float: left;
    line-height: 17px;
    border: 1px solid #ffffff;
    background-color: #454d4e;
    text-align: -webkit-center;
    text-align: center;
}
#ers-panel .ers-title-bar div span {
    color: #FFFFFF;
    text-transform: uppercase;
    font: bold 8pt Tahoma, sans-serif;
    letter-spacing: 1px;
    vertical-align: -webkit-baseline-middle;
    vertical-align: middle;
}

#layers-panel .layers, 
#ers-panel .layers,
#dlayers-panel .dlayers { margin:3px; }

#ers-panel .layers { height: 20px; overflow-x: hidden; overflow-y: scroll; }

#layers-panel .layers .layer,
#dlayers-panel .dlayers .dlayer { padding: 5px; line-height: 14px; margin: 0px; }

#ers-panel .layers .layer { padding: 3px; }

#layers-panel .layers .layer:nth-child(2n),
#ers-panel .layers .layer:nth-child(2n),
#dlayers-panel .dlayers .dlayer:nth-child(2n) { background:#EAEFF1; }

#ers-panel .layers .layer span { font-size: 9pt; }

/*Переопределение стиля класса .nav из Bootstrap*/
#right-panel ul.nav { /*margin-bottom: 40px;*/ } /* Это пространство для элемента поиска слоев */
#right-panel .nav-tabs { border-bottom: 1px solid #7b97a4; /*#0f1419;*/ }
#right-panel .nav-tabs li.rlayers, 
#right-panel .nav-tabs li.vlayers { width: 49%; margin-left: 2px; }
#right-panel .nav-tabs > li > a.rlayers,
#right-panel .nav-tabs > li > a.vlayers { 
    padding:0; background-color: #7b97a4; /*#ffffff;*/
    background-repeat: no-repeat; 
    width: 98%; /*Изменить при увеличении количества вкладок*/
    height: 35px;
    background-position: center;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    border: 1px solid #7b97a4; /*#0f1419;*/
}
#right-panel .nav-tabs > li > a.rlayers { background-image: url(/public/images/img-satellite-white.png); }
#right-panel .nav-tabs > li > a.vlayers { background-image: url(/public/images/img-layers-white.png); }
#right-panel .nav-tabs > li > a.rlayers:hover,
#right-panel .nav-tabs > li > a.vlayers:hover { 
    /*background-color: #7b97a4;*/ /*#0f1419;*/
    background-repeat: no-repeat; /*width: 35px;*/ height: 35px;
    border: 1px solid #7b97a4; /*#0f1419;*/
}
#right-panel .nav-tabs > li > a.rlayers:hover { /*background-image: url(/public/images/img-satellite-white.png);*/ }
#right-panel .nav-tabs > li > a.vlayers:hover { /*background-image: url(/public/images/img-layers-white.png);*/ }

#right-panel .nav-tabs > .active > a.rlayers,
#right-panel .nav-tabs > .active > a.vlayers,
#right-panel .nav-tabs > .active > a.rlayers:hover, 
#right-panel .nav-tabs > .active > a.vlayers:hover, 
#right-panel .nav-tabs > .active > a.rlayers:focus,
#right-panel .nav-tabs > .active > a.vlayers:focus { 
    background-color: #ffffff; /*#0f1419;*/
    height: 35px;
    border: 1px solid #7b97a4; /*#0f1419;*/
    border-bottom: 1px solid transparent;
}
#right-panel .nav-tabs > .active > a.rlayers, 
#right-panel .nav-tabs > .active > a.rlayers:hover,
#right-panel .nav-tabs > .active > a.rlayers:focus { background-image: url(/public/images/img-satellite-gray.png); }

#right-panel .nav-tabs > .active > a.vlayers,
#right-panel .nav-tabs > .active > a.vlayers:hover, 
#right-panel .nav-tabs > .active > a.vlayers:focus { background-image: url(/public/images/img-layers-gray.png); }

#layers-panel ul.nav { background: #ededed; margin-bottom: 5px; border-bottom: 1px solid #cecece; }
#layers-panel .nav-tabs > .active > a, 
#layers-panel .nav-tabs > .active > a:hover, 
#layers-panel .nav-tabs > .active > a:focus { border: 1px solid #cecece; border-bottom-color: transparent; }
#layers-panel .nav-tabs > li > a { border: 1px solid #cecece; }

/* Changing DEFAULT Settings for jQuery accordion */
#layers-panel .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;
}
#layers-panel .ui-widget-content {
    border: 0px solid #aaaaaa; color: #000000;
}
#layers-panel .ui-accordion .ui-accordion-header {
    display: block; cursor: pointer; position: relative; margin: 0px 0px 1px 0px; padding: 8px 0px 0px 30px; height: 26px; min-height: 26px; max-height: 26px; font: bold 10pt sans-serif; font-style: normal; font-variant: normal; font-stretch: normal;
}
#layers-panel .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: #FFFFFF; background: #9EB5BF; border: 0px solid #D3D3D3;
}
/* background for active h3 div header */
#layers-panel .ui-accordion-header-active {
    color: #FFFFFF; background: #6D8692; border: 0px solid #6D8692;
}
/* radius for h3 div header */
#layers-panel .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0px;
}
#layers-panel .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0px;
}
#layers-panel .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-tl {
    border-bottom-left-radius: 0px;
}
#layers-panel .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-tr {
    border-bottom-right-radius: 0px;
}
/* accordion content */
#layers-panel div.ui-accordion div.ui-accordion-content {
    padding:0;
}

/*
#waiting-mode,
#waiting-mode-wrapper { width: 100%; height: 100%; position: absolute; vertical-align: middle; text-align: center; }
#waiting-mode { z-index: 1031; background: #0f1419; opacity: 0.5; -webkit-opacity: 0.5; -o-opacity: 0.5; -moz-opacity: 0.5; }
#waiting-mode-wrapper { z-index: 1032; }
#waiting-mode-wrapper #cssload-wrapper { top: 50%; z-index: 1033; }
#waiting-mode-wrapper #cssload-wrapper:before { content: "Подождите, идет загрузка..."; opacity: 1; font: bold 16pt Tahoma, sans-serif; color:#ffffff; position: absolute; bottom:250%; left:-44% }
*/

#waiting-mode { z-index: 1031; width: 100%; height: 100%; background: #0f1419; opacity: 0.5; -webkit-opacity: 0.5; -o-opacity: 0.5; -moz-opacity: 0.5; position: absolute; vertical-align: middle; text-align: center; }
/*
#waiting-mode #cssload-wrapper { top: 50%; z-index: 1032; }
#waiting-mode #cssload-wrapper:before { content: "Подождите, идет загрузка..."; opacity: 1; font: bold 16pt Tahoma, sans-serif; color:#ffffff; position: absolute; bottom:250%; left:-44% }
*/