/**********SLIDER NDVI**********/

#slider { height: 8px; cursor: pointer; position: absolute; top: 49%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%); }
#slider a:hover{ text-decoration: none; }
#slider span.label { position: absolute; display: none; 
    /*Вертикальное расположение текста*/
    /*-webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);*/
    cursor: pointer;
    top: -2.1em;
    font: 9pt Arial normal;
    /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #ffffff;
    padding: 2px 2px 0px 2px;
    color: #000000;
    border-radius: 0;
    border: 1px solid #8296a3;
}

.scale { cursor: pointer; border-width: 1px; border-style: solid; border-color: rgb(166, 186, 214) rgb(255, 255, 0) rgb(166, 186, 214) transparent;
    margin-top: 21px; width: 0px; height: 8px; position: absolute; top: -22px; margin-left: -3px;
}

.ui-slider-content { border: 1px solid #ffffff; color: #ffffff; background: linear-gradient(to bottom, #8499b5, #456A7F); }
.ui-slider-state-handle { cursor: pointer; height: 1.0em; position: absolute; width: 0.6em; z-index: 2; top: -.3em; margin-left: -.4em; }
.ui-slider-state-default { background: #ededed; border: 1px solid #ffffff; color: #ffffff; text-decoration: none; }

#slider-drag-box {
    border-radius: 5px; width:360px; height: 55px; position:absolute; top: 50px; left: 40%; z-index: 99; cursor: move; background: rgba(48, 57, 62, 0.75);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.slider-canvas {
    background: rgba(48, 57, 62, 0.3); width: 360px; height: 34px; position: absolute; top: 55%; left: 50%; margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
}

#slider-drag-box .slider-canvas div.arrow-left, 
#slider-drag-box .slider-canvas div.arrow-right { width: 10px; height: 10px; cursor: pointer; background-repeat: no-repeat; }
#slider-drag-box .slider-canvas div.arrow-left { margin: 12px 0 0 2px; background-image: url(/public/images/ar-left-white.png); }
#slider-drag-box .slider-canvas div.arrow-right { float: right; margin: -10px 3px 0 0; background-image: url(/public/images/ar-right-gray.png); }