#ur-form {
    position: absolute; width: 400px; height: 350px; box-shadow: 0 0 10px rgba(0,0,0,0.5); border-radius: 4px; margin: auto; top: 0; right: 0; bottom: 0; background: #FFFFFF;
}
#ur-form .urf-header,
#ur-form .urf-content,
#ur-form .urf-footer {
    width: 100%; display: block;
}
#ur-form .urf-header {
    height: 35px; background-color: #f2f4f7; border-bottom: 1px solid #e7eaf0; border-top-right-radius: 4px; border-top-left-radius: 4px;
}
#ur-form .urf-footer {
    height: 50px; background: #ffffff;  position: absolute; bottom: -13%; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; box-shadow: 0px -2px 5px 0 rgba(0,0,0,0.5);
}
#ur-form .urf-content {
    height: 88%; overflow-y: scroll; overflow-x: hidden;
}
#ur-form .urf-content .message {
    margin: 10px auto; text-align: center; padding: 10px;
}
#ur-form .urf-header .title {
    font: 10pt Arial; color: #000; line-height: 35px; margin: 0 0 0 10px; display: block;
}
#ur-form .urf-header .close {
    width: 12px; height: 12px; position: absolute; right: 0; top: 0; background: url(/public/images/cross_popup.png) no-repeat 0px 0px;
    margin-top: 12px; margin-right: 12px; float: right; opacity: 0.7; cursor: pointer; outline: none;
}
#ur-form .urf-header .close:hover {
    opacity: 1;
}
.urf-1 {
    z-index:1042; left: 0;
}
.urf-2 {
    z-index:1041; left: 1%;
}
.urf-3 {
    z-index:1040; left: 1.8%;
}
#ur-form .arrow-right,
#ur-form .arrow-left {
    width:25px; height:37px; background-repeat: no-repeat; cursor: pointer; position: absolute; bottom: 7px; opacity: 0.5;
}
#ur-form .arrow-right {
    background-image: url(/public/images/reg-arrow-right.png); right: 15px;
}
#ur-form .arrow-left {
    background-image: url(/public/images/reg-arrow-left.png); left: 15px;
}
#ur-form .arrow-right:hover,
#ur-form .arrow-left:hover {
    opacity: 1;
}
#ur-form button.urc-button,
#ur-form button.urr-button,
#ur-menu-button {
    border: 0px; color: #ffffff; text-transform: uppercase; text-decoration: none;
    -webkit-transition: all 0.5s; -o-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s;
    height: 30px;
    letter-spacing: 1px; outline: none; text-shadow: 0 -1px 1px #777;
    padding: 0 5px 0 5px; position: absolute;
}
#ur-form button.urc-button {
    background: #5181b8; width: 100px; left: 14%; bottom: 10px;
}
#ur-form button.urr-button {
    background-color: #5fb053; width: 200px; bottom: 10px; margin: 0 auto; left: 0; right: 0;
}
#ur-menu-button {
    background-color: #B3B07D; width: 200px; top: 5px; box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#ur-form button.urc-button:hover,
#ur-form button.urr-button:hover {
    opacity: 0.8;
}
#ur-menu-button:hover {
    background-color: #CCC985; box-shadow: 0 0 0 rgba(0,0,0,0.5);
}
#captcha-wrap {
    width: 60%; float: left; margin-top: 10px;
}
#refresh-captcha {
    background-image: url(/public/images/refresh.jpg); background-repeat: no-repeat;
    width: 48px; height: 48px; border: 0px;
}
img#captcha {
    margin: 0 0 0 10px;
}

/*#ur-form button.urc-button:hover { background: #5b656b; }*/
#ur-form .ur-row input[type="password"] + input[type="checkbox"] {
    /*display: inherit;*/
}

#ur-form .ur-row .form-control input[type="password"] + input[type="checkbox"] + label:before,
#ur-form .ur-row .form-control input[type="text"] + input[type="checkbox"] + label:before,
#ur-form .ur-row .form-control input[type="password"] + input[type="checkbox"]:checked + label:before,
#ur-form .ur-row .form-control input[type="text"] + input[type="checkbox"]:checked + label:before {
    content: ""; width: 18px; height: 9px; background-repeat: no-repeat; display: inline-block; position: relative; margin: -19px 0px 10px 193px; float: left;
}
#ur-form .ur-row .form-control {
    width: 181px; float:left;
}
#ur-form .ur-row .form-control input[type="password"],
#ur-form .ur-row .form-control input[type="text"] {
    padding-right: 30px; width: 100%; color: #7b97a4; letter-spacing: 1px;
}
#ur-form .ur-row .form-control input[type="password"] + input[type="checkbox"] + label:before,
#ur-form .ur-row .form-control input[type="text"] + input[type="checkbox"] + label:before {
    background-image: url(/public/images/eye_black.png);
}
#ur-form .ur-row .form-control input[type="password"] + input[type="checkbox"]:checked + label:before,
#ur-form .ur-row .form-control input[type="text"] + input[type="checkbox"]:checked + label:before {
    background-image: url(/public/images/eye_green.png);
}
#ur-form .sticker {
    border: 1px solid #ad4547; font: 11px Tahoma; background-color: #ca635f; margin: 3px; padding: 5px; position: absolute; width: 52%; height: auto; border-radius: 4px; left: 93.5%; cursor: default;
    color:#FFFFFF;
}
#ur-form .sticker::selection {
    background: transparent;
}
#ur-form .sticker::before, 
#ur-form .sticker::after {
    content: ''; position: absolute; left: -20px; border: 10px solid transparent; border-right: 10px solid #ad4547; top: 2px;
}
#ur-form .sticker::after {
    border-right: 9px solid #ca635f; left: -18px; 
}
.form-position {
    left:0; z-index: 2000;
}

#ur-form .required.true:after
{
    color: red;
    content: " *";
} 