.sticker {
    background-color: rgba(30, 31, 31, 0.75);
    width: 300px;
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
}

.sticker-success {
    color: #00FF00;
    background-image: url(/public/stickers/img/success.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 4%;
    padding-left: 50px;
}

.sticker-error {
    color: #F9FF00;
    background-image: url(/public/stickers/img/error.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 4%;
    padding-left: 50px;
}

.exit{
    margin: -9px 0px 0px 296px;
    width:16px;
    height:16px;
    background: url('/public/stickers/img/close.png');
    cursor: pointer;
}