body, td {
  
}

a {
}

a:hover {
}

#report1 {
    /*width:930px;*/
    height:auto;
    border:0px solid #E0E0E0;
    font: 14pt normal sans-serif;
}

#report1 .form-to {
    width:252px;
    margin: 70px 0px 0px 500px;
}

 .form-to p {
    font: 14pt normal sans-serif;
}

#report1, #report2 table, td {
    border:1px solid black;
    border-collapse: collapse;
}

#report1 .report1-footer {
    margin: 30px 0px 0px 14px; border:0px;
}

#report1 .report1-footer td {
    border: 0px;
}

#report2, #report3 table {
    width:100%;
    height: auto;
    border: 1px solid #000000;
    border-collapse: collapse;
}

#report2 .c-kind {
    background: #DAE7EC;
    font:bold 12pt sans-serif;
}

#report2 .c-name {
    padding:0px 0px 0px 30px;
}

#report2 .sum-area {
    font: italic 11pt sans-serif;
    padding-right: 15px;
}

#report3 table td p {
    margin-right: 7px;
}