#circularG{
    position:absolute;
    width:40px;
    height:40px;
    margin: -0.7% 0 0 45%;
    z-index: 3;
}

.circularG{
    position:absolute;
    background-color:rgb(255,255,255);
    width:9px;
    height:9px;
    border-radius:6px;
        -o-border-radius:6px;
        -ms-border-radius:6px;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
    animation-name:bounce_circularG;
        -o-animation-name:bounce_circularG;
        -ms-animation-name:bounce_circularG;
        -webkit-animation-name:bounce_circularG;
        -moz-animation-name:bounce_circularG;
    animation-duration:0.578s;
        -o-animation-duration:0.578s;
        -ms-animation-duration:0.578s;
        -webkit-animation-duration:0.578s;
        -moz-animation-duration:0.578s;
    animation-iteration-count:infinite;
        -o-animation-iteration-count:infinite;
        -ms-animation-iteration-count:infinite;
        -webkit-animation-iteration-count:infinite;
        -moz-animation-iteration-count:infinite;
    animation-direction:normal;
        -o-animation-direction:normal;
        -ms-animation-direction:normal;
        -webkit-animation-direction:normal;
        -moz-animation-direction:normal;
}

#circularG_1{
    left:0;
    top:16px;
    animation-delay:0.218s;
        -o-animation-delay:0.218s;
        -ms-animation-delay:0.218s;
        -webkit-animation-delay:0.218s;
        -moz-animation-delay:0.218s;
}

#circularG_2{
    left:4px;
    top:4px;
    animation-delay:0.284s;
        -o-animation-delay:0.284s;
        -ms-animation-delay:0.284s;
        -webkit-animation-delay:0.284s;
        -moz-animation-delay:0.284s;
}

#circularG_3{
    top:0;
    left:16px;
    animation-delay:0.36s;
        -o-animation-delay:0.36s;
        -ms-animation-delay:0.36s;
        -webkit-animation-delay:0.36s;
        -moz-animation-delay:0.36s;
}

#circularG_4{
    right:4px;
    top:4px;
    animation-delay:0.436s;
        -o-animation-delay:0.436s;
        -ms-animation-delay:0.436s;
        -webkit-animation-delay:0.436s;
        -moz-animation-delay:0.436s;
}

#circularG_5{
    right:0;
    top:16px;
    animation-delay:0.502s;
        -o-animation-delay:0.502s;
        -ms-animation-delay:0.502s;
        -webkit-animation-delay:0.502s;
        -moz-animation-delay:0.502s;
}

#circularG_6{
    right:4px;
    bottom:4px;
    animation-delay:0.578s;
        -o-animation-delay:0.578s;
        -ms-animation-delay:0.578s;
        -webkit-animation-delay:0.578s;
        -moz-animation-delay:0.578s;
}

#circularG_7{
    left:16px;
    bottom:0;
    animation-delay:0.644s;
        -o-animation-delay:0.644s;
        -ms-animation-delay:0.644s;
        -webkit-animation-delay:0.644s;
        -moz-animation-delay:0.644s;
}

#circularG_8{
    left:4px;
    bottom:4px;
    animation-delay:0.72s;
        -o-animation-delay:0.72s;
        -ms-animation-delay:0.72s;
        -webkit-animation-delay:0.72s;
        -moz-animation-delay:0.72s;
}



@keyframes bounce_circularG{
    0%{
        transform:scale(1);
    }

    100%{
        transform:scale(.3);
    }
}

@-o-keyframes bounce_circularG{
    0%{
        -o-transform:scale(1);
    }

    100%{
        -o-transform:scale(.3);
    }
}

@-ms-keyframes bounce_circularG{
    0%{
        -ms-transform:scale(1);
    }

    100%{
        -ms-transform:scale(.3);
    }
}

@-webkit-keyframes bounce_circularG{
    0%{
        -webkit-transform:scale(1);
    }

    100%{
        -webkit-transform:scale(.3);
    }
}

@-moz-keyframes bounce_circularG{
    0%{
        -moz-transform:scale(1);
    }

    100%{
        -moz-transform:scale(.3);
    }
}

#wait-for-load {
    border: 1px solid black; width: 100%; height: 57px; position: absolute; margin: -36px 0 0 0; /*background: #363636;*/ z-index: 5;
    -o-opacity:0;
    -moz-opacity:0;
    -webkit-opacity:0;
    opacity:0;
}