
#layer-filter-form {
    padding: 0;
    margin: 0;
}

#layer-filter-form .filter-box { border-bottom: 2px solid #ededed; display: inline-block; width: 100%; padding: 10px 0px 5px 10px; }

#layer-filter-form .filter-box .filter-nameru {
    float:left; display: inline-block; width: 45%; padding: 0px 0px 5px 0px; font: bold 10pt Tahoma, sans-serif; color: #4e5a61; line-height: 1.5;
}

#layer-filter-form .filter-box select {
    height: 30px; padding: 0 4px;
    border: 1px solid #8296a3;
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: button;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(/public/images/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    /*background: linear-gradient(to bottom, #FAFAFA, #E5E5E5);*/
    background-repeat: no-repeat;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#layer-filter-form .filter-box .filter-compare {
    float: left; width: 50px !important; font: 18pt Arial; margin: 5px 0 0 7px; background-position: 91% center;
}

#layer-filter-form .filter-box .filter-entrance {
    float: right; width: 194px !important; margin: 0 15px 0 0; font: 12pt Arial; background-position: 97% center;
}

#layer-filter-form .filter-box select option {
    font: 12pt Arial;
    background-color: #ffffff;
}

#layer-filter-form .filter-box .input-text {
    float: right; width: 180px !important; font-size: 9pt; margin: 5px 15px 2px 2px; clear: right; border: 1px solid #8296a3; border-radius: 0;
}

#layer-filter-form .filter-box .input-number {
    width: 125px !important; font-size: 9pt; margin: 5px 15px 2px 2px; float: right; border: 1px solid #8296a3; border-radius: 0;
}

#layer-filter-form button.button-clear, button.button-show, button.button-boundary {
    border: 0px; color: #ffffff; text-transform: uppercase; text-decoration: none;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

#layer-filter-form button.button-clear, 
#layer-filter-form button.button-show { width: 100px; height: 40px;  background: #30393e; }
#layer-filter-form button.button-clear { margin-left: 15px; }
#layer-filter-form button.button-show { position:absolute; right:15px; }
#layer-filter-form button.button-clear:hover, 
#layer-filter-form button.button-show:hover { background: #5b656b; }

#layer-filter-form .filter-box button.button-boundary { width: 40px; height: 40px; background: url('/public/images/contour.png'); }
#layer-filter-form .filter-box button.button-boundary { margin: 5px 0 0 6px; }
#layer-filter-form .filter-box button.button-boundary:hover { background: url('/public/images/contour-hover.png'); }

#layer-filter-form .filter-box span.coordinates { float: right; width: 40% !important; height: 60px; margin: 2px 3px 0 0; font: italic bold 9pt Tahoma, sans-serif; }