#cssload-wrapper {
    width: 358px;
    height: 14px;
    position: absolute;
    left: 50%;
}

#cssload-border {
    border: 1px solid rgb(255,255,255);
    height: 100%;
    width: 100%;
    position: relative;
    left: -50%;
    top: -50%;
    /*padding: 3px 2px;*/
    margin-left: -1px;
    margin-top: -6px;
}

#cssload-whitespace {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

#cssload-line {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(255,255,255);
    animation: cssload-slide 1s steps(40) infinite;
        -o-animation: cssload-slide 1s steps(40) infinite;
        -ms-animation: cssload-slide 1s steps(40) infinite;
        -webkit-animation: cssload-slide 1s steps(40) infinite;
        -moz-animation: cssload-slide 1s steps(40) infinite;
}



@keyframes cssload-slide {
    0% {
        left: -100%;
    }
    
    100% {
        left: 100%;
    }
}

@-o-keyframes cssload-slide {
    0% {
        left: -100%;
    }
    
    100% {
        left: 100%;
    }
}

@-ms-keyframes cssload-slide {
    0% {
        left: -100%;
    }
    
    100% {
        left: 100%;
    }
}

@-webkit-keyframes cssload-slide {
    0% {
        left: -100%;
    }
    
    100% {
        left: 100%;
    }
}

@-moz-keyframes cssload-slide {
    0% {
        left: -100%;
    }
    
    100% {
        left: 100%;
    }
}

#wait-for-load {
    border: 1px solid black; width: 100%; height: 57px; position: absolute; margin: -36px 0 0 0; /*background: #363636;*/ z-index: 5;
    -o-opacity:0;
    -moz-opacity:0;
    -webkit-opacity:0;
    opacity:0;
}